@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?to1ro8');
  src:  url('../fonts/icomoon.eot?to1ro8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?to1ro8') format('truetype'),
    url('../fonts/icomoon.woff?to1ro8') format('woff'),
    url('../fonts/icomoon.svg?to1ro8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favor:before {
  content: "\e900";
  color: #ff890f;
}
.icon-lists:before {
  content: "\e901";
  color: #ff890f;
}
.icon-loop:before {
  content: "\e902";
  color: #ff890f;
}
.icon-next:before {
  content: "\e903";
  color: #ff890f;
}
.icon-sequence:before {
  content: "\e904";
  color: #ff890f;
}
.icon-pause:before {
  content: "\e905";
  color: #ff890f;
}
.icon-play:before {
  content: "\e906";
  color: #ff890f;
}
.icon-pre:before {
  content: "\e907";
  color: #ff890f;
}
.icon-return:before {
  content: "\e908";
  color: #ff890f;
}
.icon-random:before {
  content: "\e909";
  color: #ff890f;
}
